html, body {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-family: '微软雅黑';
	color: #333;
	line-height: 1.5;
	letter-spacing: 2px;
}
li{
	list-style: none;
}
a,a:hover{
	text-decoration: none;
	color: #fff;
}
.body2{
	background-color: #fff;
}
/*header*/
.header {
	position: relative;
	height: 120px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.header > .title {
	position: absolute;
	left: 5%;
	height: 80px;
	margin-top: 25px;
}
.header > .title > p {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}
.header > .pre {
	position: absolute;
	font-size: 18px;
	right: 5%;
	top: 0;
	line-height: 1;
	text-align: center;
	margin-top: 25px;
}
.header > .pre > .day {
	color: #666;
}
.header > .pre > .come {
	font-size: 18px;
}
.header > .pre > .comments0{
	color: #666;
}
.header > .pre > .comments0 span {
	font-weight: bold;
	color: red;
	font-size: 18px;
	letter-spacing: 0px;
}
/*content*/
.content{
	padding:0 10% 100px;
}
/*swiper:;*/
.swiper-slide {
	text-align: center;
	background: #fff;
	height: auto;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img {
	width: 100%;
	height: 600px;
}
.swiper-pagination-bullet {
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color:#000;
	opacity: 1;
	background: rgba(255,255,255,0.2);
	border-radius: 0;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: #eaaa3a;
}
/*微信推广*/
.weixin , .activity {
	margin-top: 20px;
	background-color: #b87005;
	height: auto;
	padding:20px;
	color: #fff;
	text-align: center;
	font-size: 22px;f
	font-weight: bold;
	line-height: 2;
}
.weixin > ul  > li > .red {
	color: #ff0;
}
.weixin > ul  > li > .name {
	background-color: #f44336;
	color: #ff0;
	padding: 5px;
}
.activity {
	padding:10px;
	line-height: auto;
}
.activity .money {
	font-size: 30px;
	color: #ff0;
}
/*个人介绍*/
.personal {
	text-indent: 2em;
	font-size: 20px;
	border:1px solid #ccc;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
	padding:20px;
}
/*个人介绍img*/
.qb > img {
	display: block;
	margin:20px auto;
	width: 400px;
	height: 500px;
}
.qb > p {
	padding-top: 30px;
	font-size: 20px;
	text-indent: 2em;
}
/*weixin2*/
.weixin2 {
	width: 100%;
	height: auto;
	border:5px solid #b87005;
	border-radius: 5px;
	margin: 50px 0 50px;
}
.weixin2 > .title {
	background-color: #b87005;
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	padding:5px 10px;
}
.weixin2 > .title > .name,.weixin2 > ul > li > .name {
	background-color: #f44336;
	color: #ff0;
	padding: 5px;
}
.weixin2 > ul {
	padding:15px 0;
}
.weixin2 > ul > li {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.7;
}
.weixin2 > ul > li .red {
	color: #f44336;
}
/*提示*/
.ts {
	margin:30px 0 15px;
	padding:10px 15px;
	background-color: #b87005;
	color: #fff;
	border-radius: 5px;
}
.ts > .ts-text1 {
	text-indent: 2em;
}
.ts > .ts-text1 span {
	color:#ff0;
}
/*标题*/
.bag {
	position: relative;
	margin:50px 0 40px;
}
.bag > img{
	width: 100%;
	height: 30px;
}
.bag > .title {
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	width: 300px;
	padding:20px;
}
.bag > .title a {
	background-color: #f44336;
	color: #fff;
	border-radius: 5px;
	display: block;
	font-size: 20px;
	padding: 10px 0;
}
/*甘丹堂*/
.content1-text1 {
	text-indent: 2em;
}
.content1-text1 span{
	color: #b68867;
	font-weight: bold;
}
.content1-title {
	font-size: 40px;
	text-align: center;
	color: #c59c77;
	font-weight: bold;
	padding:20px 0;
}
.content1 > .content1-conimg{
	display: block;
	margin:0 auto;
	width: 100%;
}
.content1-text2 {
	text-align: center;
	color: #b68867;
	font-size: 22px;
}
.content1 > .row{
	margin:10px 0;
}
.left-img > img{
	width: 100%;
}
.right-text {
	padding-top: 100px;
}
 /*三、挖草日记*/
 .diary {
 	border-bottom: 3px dashed #ccc;
 	padding:20px 0;
 }
.diary > .name {
	color: #abcdef;
	font-weight: bold;
	font-size: 20px;
}
.diary > .diary-text1 {
	text-indent: 2em;
	color: #333;
}
.diary > .diary-img1 {
	display: block;
	margin:5px auto;
	width:80%;
	height: 600px;
}
.diary > .day {
	color: #ccc;
	text-align: right;
	padding:10px 0;
	font-size: 14px;
}
.content1-text3 {
	text-indent: 2em;
	padding:20px 0 0;
}
/*订购方式*/
.evaluation{
	margin-top: 50px;
}
.evaluation-box1 .title1::before,
.evaluation-box1 .title2::before,
.evaluation-box1 .title3::before,
.evaluation-box1 .title4::before,
.evaluation-box1 .title5::before
{
	content: '1';
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #b87005;
	border: 1px solid #b87005;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	color: #fff;
	text-align: center;
	margin-right:8px;
	margin-top: 5px;
	line-height: 30px;
}
.evaluation-box1 .title2::before{
	content: '2';
}
.evaluation-box1 .title3::before{
	content: '3';
}
.evaluation-box1 .title4::before{
	content: '4';
}
.evaluation-box1 .title5::before{
	content: '5';
}
.evaluation-box1 .title1 label,
.evaluation-box1 .title2 label,
.evaluation-box1 .title3 label,
.evaluation-box1 .title4 label,
.evaluation-box1 .title5 label {
	letter-spacing: 3px;
	margin-left: 20px;
}
.evaluation-box1 .text1{
	text-indent: 3em;
	line-height: 2;
	letter-spacing: 6px;
}
.evaluation-box1 .text1 span{
	color: #b87005;
}
.evaluation-box1 .text1 .name {
	background-color: #f44336;
	color: #fff;
	padding: 5px;
}
.evaluation-box2 img{
	width: 100%;
	height: 500px;
	display: block;
	margin:10px auto;
}
.name-img {
	width: 80%;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
}
/*评论区*/
.comments{
	background-color: #fff;
	margin-top: 50px;
}
.comments h2{
	font-weight: bold;
	padding:15px 0;
	width: 200px;
	color: #fff;
	text-align: center;
	background-color: #b87005;
	margin-bottom: 0;
	border-radius: 5px 5px 0 0;
}
.comments-hr{
	width: 100%;
	height: 5px;
	background-color: #b87005;
}
.comments-box2{
	padding:20px;
}
.comments-img img{
	width: 120px;
	height: 120px;
	margin-right: 20px;
	float: left;
}
.comments-user{
	margin-top: 20px;
}
.comments-name{
	font-weight: bold;
}
.comments-day{
	color: #999;
}
.comments-box2-text{
	padding: 20px 0;
	clear:both;
	text-indent: 2em;
}
.comments-box2-right{
	text-align: right;
	font-size: 14px;
}
.comments-box2-right span{
	color: #f00;
	font-weight: bold;
}
.comments-box2-img{
	width: 600px;
	height: auto;
	padding:10px 0;
	border-radius: 10px;
	display: block;
	margin:0 auto;
}
.comments-author {
	background-color: #ededed;
	width: 100%;
	display: block;
	padding: 30px 40px;
	margin: 20px 0;
}
.comments hr{
	border:2px #ccc dashed;
}
.bottom-text{
	text-align: center;
	font-size: 16px;
	color:#ccc;
}
/*footer*/
.footer {
	position: fixed;
	bottom: 0;
	display: block;
	background-color: #b87005;
	width: 100%;
	color: #fff;
	font-size: 22px;
	padding-top: 10px;
	z-index: 999;
	border-top: 2px solid #fff;
}
.footer > .footer-box {
	text-align: center;
}
.footer > .footer-box .text2 {
	background-color: #f44336;
	padding: 10px;
	font-weight: bold;
	color: #ff0;
}